<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lomoye.lion.core.dao.SportPlanMapper">
    <sql id="condition">
        <where>
            <if test="condition.id != null">
                id = #{condition.id}
            </if>
            <if test="condition.userId != null">
                AND user_id = #{condition.userId}
            </if>
        </where>
    </sql>

    <sql id="selectAllField">
        select id,user_id,target_weight,start_time,end_time,sport_item_ids,create_time,modify_time from sport_plan
    </sql>

    <select id="selectWithPage" parameterType="Map" resultType="SportPlan">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        <include refid="com.lomoye.common.dao.paged"/>
    </select>

    <select id="selectByCondition" parameterType="Map" resultType="SportPlan">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        <include refid="com.lomoye.common.dao.orderby"/>
    </select>

    <select id="selectByPrimaryKey" parameterType="Long" resultType="SportPlan">
        <include refid="selectAllField"/>
        where id=#{key}
    </select>

    <select id="selectOne" parameterType="Map" resultType="SportPlan">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        limit 1
    </select>

    <select id="selectCount" parameterType="Map" resultType="long">
        select count(*) from sport_plan
        <include refid="condition"/>
    </select>

    <insert id="insert" keyProperty="id" parameterType="SportPlan">
        insert into sport_plan
        (user_id,target_weight,start_time,end_time,sport_item_ids,create_time,modify_time) 
        VALUES
        (#{userId},#{targetWeight},#{startTime},#{endTime},#{sportItemIds},#{createTime},#{modifyTime}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="SportPlan">
        update sport_plan set 
        user_id=#{userId},
        target_weight=#{targetWeight},
        start_time=#{startTime},
        end_time=#{endTime},
        sport_item_ids=#{sportItemIds},
        modify_time=#{modifyTime}
        where id=#{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="Long">
        delete from sport_plan
        where id = #{key}
    </delete>

    <delete id="deleteByCondition" parameterType="Map">
        delete from sport_plan
        <include refid="condition"/>
    </delete>
</mapper>
