<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lomoye.lion.core.dao.WeightRecordMapper">
    <sql id="condition">
        <where>
            <if test="condition.id != null">
                id = #{condition.id}
            </if>
            <if test="condition.userId != null">
                AND user_id = #{condition.userId}
            </if>
            <if test="condition.day != null">
                AND `day` = #{condition.day}
            </if>
        </where>
    </sql>

    <sql id="selectAllField">
        select id,user_id,`day`,weight,bust,waist,hip,arm,thigh,calf,is_sport,is_breakfast,is_lunch,
        is_dinner,`desc`,create_time,modify_time from weight_record
    </sql>

    <select id="selectWithPage" parameterType="Map" resultType="WeightRecord">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        <include refid="com.lomoye.common.dao.paged"/>
    </select>

    <select id="selectByCondition" parameterType="Map" resultType="WeightRecord">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        <include refid="com.lomoye.common.dao.orderby"/>
    </select>

    <select id="selectByPrimaryKey" parameterType="Long" resultType="WeightRecord">
        <include refid="selectAllField"/>
        where id=#{key}
    </select>

    <select id="selectOne" parameterType="Map" resultType="WeightRecord">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        limit 1
    </select>

    <select id="selectCount" parameterType="Map" resultType="long">
        select count(*) from weight_record
        <include refid="condition"/>
    </select>

    <insert id="insert" keyProperty="id" parameterType="WeightRecord">
        insert into weight_record
        (user_id,`day`,weight,bust,waist,hip,arm,thigh,calf,is_sport,is_breakfast,is_lunch,is_dinner,
        `desc`,create_time,modify_time)
        VALUES
        (#{userId},#{day},#{weight},#{bust},#{waist},#{hip},#{arm},#{thigh},#{calf},#{isSport},#{isBreakfast},
        #{isLunch},#{isDinner},#{desc},#{createTime},#{modifyTime})
    </insert>

    <update id="updateByPrimaryKey" parameterType="WeightRecord">
        update weight_record set 
        user_id=#{userId},
        `day`=#{day},
        weight=#{weight},
        bust=#{bust},
        waist=#{waist},
        hip=#{hip},
        arm=#{arm},
        thigh=#{thigh},
        calf=#{calf},
        is_sport=#{isSport},
        is_breakfast=#{isBreakfast},
        is_lunch=#{isLunch},
        is_dinner=#{isDinner},
        `desc`=#{desc},
        modify_time=#{modifyTime}
        where id=#{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="Long">
        delete from weight_record
        where id = #{key}
    </delete>

    <delete id="deleteByCondition" parameterType="Map">
        delete from weight_record
        <include refid="condition"/>
    </delete>
</mapper>
